@page
@model IndexModel
@{
    ViewData["Title"] = "Todo or not todo";
}

<div class="text-center">
    <h1 class="display-4">Hot reload works!!</h1>
    <h1 class="display-4">Hot reload works!!</h1>
    <h1 class="display-4">@Model.GetString()</h1>
    <h1 class="display-4"></h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
