@page
@model IndexModel
@{
    ViewData["Title"] = "Todo or not todo";
}

<div class="container px-4 py-5">
<div class="text-center">
    <h2 class="display-4">List of Tasks you have to do:</h2>
</div>
    @foreach (var item in Model.ListOfTasks())
    {
        <div class="feature col text-center">
            <h3 class="fs-2">@item.Description</h3>
            <p>Priority: @item.Priority</p>
            <p>Created: @item.CreatedTime</p>
            <p>Completed: @item.Completed</p>
        </div>
    }
</div>


<form method="post" asp-page-handler="AddOnClick" class="form-inline">
    <button id="btnInsertTask"class="btn btn-default btn-outline-info">press for magic</button>
</form>